<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show page</title>
</head>
<body>
    {% if subscribed %}
    <h1>content is</h1>
    <h2>movie is {{content.movie}}</h2>
    <h2>show is {{content.show}}</h2>
    <h2>series is {{content.series}}</h2>

    {% else %}
    <h1>Not subscribed user, please subscribe to watch</h1>
    <h2>total moeufseurfvies are {{show_when_not_subscribed.movies}}+</h2>
    <h2>total shows are {{show_when_not_subscribed.shows}}+</h2>
    <h2>total series are {{show_when_not_subscribed.series}}</h2>
    <p>sample paragraph</p>
    {% endif %}

    {% for fruit in fruits %}
    <h2>fruit is {{fruit}}</h2>



    {% endfor %}
    
</body>
</html>